*{
    margin:0;
    padding:0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* body{
    background: white;
} */
.html-basics{
    text-align: right;
    font-size: 90px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* display: ; */
}
.introduction{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* float: left; */
}
p{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}


h3{
    font-size: 30px;
}

h5{
    font-size: 20px;
}
h1,h3,h5{
    padding:8px;
    margin-left: 10px;
}
ul{
    margin-left:50px;
}
li{
    padding:5px;
}
/*hr{
    height: 10px;
    border: none;
    background-color: green;
    width: 100px;
} */
.hello_world{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: green;
    
}
pre.code{
    background:rgba(170, 170, 170,0.5);
    border-radius: 10px;
    font-size:larger;
}
.htmlfeatures li{
    padding:20px;
}