*{
    margin:0;
    padding:0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* body{
    background: white;
} */
.html-basics{
    text-align: right;
    font-size: 90px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* display: ; */
}
h1.heading{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* float: left; */
}
p{
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}


h3{
    font-size: 30px;
    margin-top: 0%;
}

h5{
    font-size: 20px;
}
h1,h3,h4,h5{
    padding:8px;
    margin-left: 10px;
}
/* h5{
    color:white;
} */
ul,ol{
    margin-left:50px;
}
li{
    padding:5px;
}
/*hr{
    height: 10px;
    border: none;
    background-color: green;
    width: 100px;
} */
.hello_world{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: green;

}
div.code {
    background:rgba(170, 170, 170,0.5);
    border-radius: 10px;
    font-size:larger;
    padding: 10px;
    margin: 10px;
}

span.angle_blue{
    color:rgba(27, 27, 233, 0.801);
    background:rgba(170, 170, 170,0);
}
span{
    background:rgba(170, 170, 170,0);
}

.html_tag{
    color:maroon;
    background:rgba(170, 170, 170,0);
}

.unoder-list li{
    padding:20px;
}

.order-list li{
    text-transform: uppercase;
}

.doctype_html{
    margin-top: 20px;
}



@media screen and (max-width:800px){

    .html-basics{
        text-align: center;
    }
    
}
